/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {
    outline: none;
}

table {
    width: 100%;
}

.icon-close {
    float: right; 
    margin-left: auto; 
    cursor: pointer;
}

.title-content {
    text-transform: uppercase; 
    position: absolute; 
    font-weight: bold;
}